<a href="https://colab.research.google.com/github/sejyoti/CCLE-DATASET-Liner-regression/blob/master/Programatically_prepare_the_data_matrix_for_a_single_cell_transcriptomics_study_GSE137829.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import os

files = [f for f in os.listdir('/content') if f.endswith('.txt')]

for file in files:

  df = pd.read_csv(file, sep='\t', index_col=0)

  # Clean up
  df.columns = df.columns.str.replace('.', '_')
  df.index.name = 'Gene'
  df.columns.name = 'Cell ID'

  # Export CSV
  csv_name = f'cleaned_{os.path.splitext(file)[0]}.csv'
  df.to_csv(csv_name)

print("Cleaned CSV files exported")

<ipython-input-1-edf10dead3ba>:11: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('.', '_')
<ipython-input-1-edf10dead3ba>:11: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('.', '_')
<ipython-input-1-edf10dead3ba>:11: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('.', '_')
<ipython-input-1-edf10dead3ba>:11: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('.', '_')
<ipython-input-1-edf10dead3ba>:11: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('.', '_')
<ipython-input-1-edf10dead3ba>:11: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('.', '_')

Cleaned CSV files exported

In [ ]:
import pandas as pd
df = pd.read_csv('cleaned_GSM4089151_P1_gene_cell_exprs_table.csv')

In [ ]:
print (df)

                 Gene    Symbol  AAACCTGAGAGCTATA_1  AAACCTGAGTGTTTGC_1  \
0     ENSG00000000003    TSPAN6                   1                   0
1     ENSG00000000419      DPM1                   0                   1
2     ENSG00000000457     SCYL3                   0                   1
3     ENSG00000000460  C1orf112                   0                   0
4     ENSG00000000938       FGR                   0                   0
...               ...       ...                 ...                 ...
4714  ENSG00000119725    ZNF410                   0                   0
4715  ENSG00000119729      RHOQ                   0                   2
4716  ENSG00000119737     GPR75                   0                   0
4717  ENSG00000119760    SUPT7L                   1                   0
4718  ENSG00000119771    KLHL29                   0                   0

      AAACCTGCAGTCAGCC_1  AAACCTGGTACATGTC_1  AAACCTGGTCGGCATC_1  \
0                      0                   1                   0
1                      2                   0                   1
2                      0                   0                   0
3                      0                   0                   0
4                      0                   0                   0
...                  ...                 ...                 ...
4714                   0                   0                   0
4715                   0                   0                   0
4716                   0                   0                   0
4717                   0                   0                   0
4718                   0                   0                   0

      AAACCTGGTGCAGACA_1  AAACCTGTCATTCACT_1  AAACCTGTCTTGAGGT_1  ...  \
0                      2                   1                   0  ...
1                      0                   0                   0  ...
2                      0                   0                   0  ...
3                      0                   0                   0  ...
4                      0                   1                   0  ...
...                  ...                 ...                 ...  ...
4714                   0                   0                   0  ...
4715                   0                   0                   1  ...
4716                   0                   0                   0  ...
4717                   1                   0                   0  ...
4718                   0                   0                   0  ...

      TTTGGTTAGTGTACTC_1  TTTGGTTCACATCTTT_1  TTTGGTTCATTACCTT_1  \
0                    0.0                 1.0                 0.0
1                    0.0                 0.0                 1.0
2                    0.0                 0.0                 0.0
3                    0.0                 0.0                 0.0
4                    0.0                 0.0                 0.0
...                  ...                 ...                 ...
4714                 0.0                 0.0                 0.0
4715                 0.0                 0.0                 0.0
4716                 0.0                 0.0                 0.0
4717                 0.0                 1.0                 0.0
4718                 NaN                 NaN                 NaN

      TTTGGTTGTCCGACGT_1  TTTGGTTGTGAAATCA_1  TTTGTCAAGCTAGTTC_1  \
0                    0.0                 1.0                 0.0
1                    0.0                 0.0                 1.0
2                    1.0                 0.0                 0.0
3                    0.0                 0.0                 0.0
4                    0.0                 0.0                 0.0
...                  ...                 ...                 ...
4714                 0.0                 0.0                 0.0
4715                 0.0                 0.0                 1.0
4716                 0.0                 0.0                 0.0
4717                 0.0                 0.0                 0.0
4718                 NaN                 NaN                 NaN

      TTTGTCACAATCCAAC_1  TTTGTCACACATGTGT_1  TTTGTCACAGTCACTA_1  \
0                    0.0                 0.0                 1.0
1                    1.0                 0.0                 0.0
2                    0.0                 0.0                 0.0
3                    0.0                 0.0                 0.0
4                    0.0                 0.0                 0.0
...                  ...                 ...                 ...
4714                 0.0                 0.0                 0.0
4715                 1.0                 0.0                 0.0
4716                 0.0                 0.0                 0.0
4717                 1.0                 0.0                 0.0
4718                 NaN                 NaN                 NaN

      TTTGTCAGTGTCAATC_1
0                    0.0
1                    0.0
2                    0.0
3                    0.0
4                    0.0
...                  ...
4714                 0.0
4715                 0.0
4716                 0.0
4717                 0.0
4718                 NaN

[4719 rows x 3963 columns]

In [ ]:
df.describe()

,AAACCTGAGAGCTATA_1,AAACCTGAGTGTTTGC_1,AAACCTGCAGTCAGCC_1,AAACCTGGTACATGTC_1,AAACCTGGTCGGCATC_1,AAACCTGGTGCAGACA_1,AAACCTGTCATTCACT_1,AAACCTGTCTTGAGGT_1,AAACGGGAGAGCCTAG_1,AAACGGGCAATAAGCA_1,...,TTTGGTTAGTGTACTC_1,TTTGGTTCACATCTTT_1,TTTGGTTCATTACCTT_1,TTTGGTTGTCCGACGT_1,TTTGGTTGTGAAATCA_1,TTTGTCAAGCTAGTTC_1,TTTGTCACAATCCAAC_1,TTTGTCACACATGTGT_1,TTTGTCACAGTCACTA_1,TTTGTCAGTGTCAATC_1
count,4719.000000,4719.000000,4719.000000,4719.000000,4719.000000,4719.000000,4719.000000,4719.000000,4719.000000,4719.000000,...,4718.000000,4718.000000,4718.000000,4718.000000,4718.000000,4718.000000,4718.000000,4718.000000,4718.000000,4718.000000
mean,0.503073,0.613266,1.544607,0.644204,0.875609,0.676838,1.262132,0.894045,1.127146,1.681076,...,0.455702,2.186520,0.677830,2.085630,0.569733,0.493641,2.102798,0.373251,1.088597,0.793981
std,3.533756,4.679359,10.255556,5.699624,6.428924,5.214642,8.887798,9.122582,9.691552,15.285492,...,3.842794,20.892559,3.777641,19.560896,4.976999,4.120902,20.712306,2.606059,9.397438,7.149865
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,...,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
max,90.000000,133.000000,263.000000,181.000000,212.000000,133.000000,237.000000,403.000000,282.000000,443.000000,...,116.000000,641.000000,103.000000,572.000000,149.000000,102.000000,711.000000,67.000000,287.000000,244.000000

# Documentation for task 1

 Here is documentation for the task of cleaning and exporting gene expression text files as CSVs:

# Clean and Export Gene Expression Data

This script processes raw gene expression text files and exports cleaned CSV versions.

## Usage

The script expects raw text files (.txt) containing gene expression data in the input directory. It will:

- Read in each text file
- Clean the DataFrame
  - Replace column periods with underscores
  - Set index name to 'Gene'
  - Set column name to 'Cell ID'
- Export cleaned data to a CSV file  

## Code Overview

- Use os.listdir() to get list of .txt files
- Loop through each file
  - Read in file using pandas
  - Clean DataFrame
  - Construct output CSV filename
  - Export DataFrame to CSV

## Input File Format

Input files must be tab-delimited text files with:

- Gene names in the first column
- Cell expression values in following columns
- No header row

## Output

The script exports cleaned CSV versions of the input files.

- Replaces periods in column names with underscores
- Adds 'Gene' as index name  
- Adds 'Cell ID' as column name
- Removes .txt from file name and adds .csv extension

## Requirements

- pandas
- os

Let me know if this documentation covers the key points or if you would like me to expand on any part!